body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.container-fluid {
  margin: 0;
  padding: 0;
}

.container {
  height: 80vh;
}

.navbar a {
  text-decoration: none;
  color: #fff;
}
